@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var httpContext = HttpContextAccessor.HttpContext;
}
@using Installment.Entities
@using Microsoft.AspNetCore.Http
<script src="~/js/site.js"></script>
<nav class="sidebar">
    <div class="sidebar-header">

        <a href="#" class="sidebar-brand" style="font-size:12px;font-weight:normal">
            <table>
                <tr>
                    <td>
                        <img src="~/assets/images/logo.png" width="50" height="50" />
                    </td>
                    <td>
                        <span style="color:black; font-weight:bold">
                            EASY PAY
                            NAVIGATOR
                        </span>
                    </td>
                </tr>
            </table>

        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            @if (httpContext.Session.GetString("UserRole") == "Admin")
                {
                    <li class="nav-item main-item" id="productsNav">
                        <a class="nav-link">
                            <i class="link-icon" data-feather="package"></i>
                            <span class="link-title fw-normal" onclick="navigateMe('/Companies/Index')">Companies</span>
                        </a>
                    </li>
                    <li class="nav-item main-item" id="productsNav">
                        <a class="nav-link">
                            <i class="link-icon" data-feather="package"></i>
                            <span class="link-title fw-normal" onclick="navigateMe('/Users/Index')">Users</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item main-item" id="dashboardNav">
                        <a href="/Home" class="nav-link " onclick="handleDashboardClick()">
                            <i class="link-icon" data-feather="box"></i>
                            <span class="link-title fw-normal">Dashboard</span>
                        </a>
                    </li>



                    <li class="nav-item main-item" >
                        <a class="nav-link">
                            <i class="link-icon" data-feather="shopping-cart"></i>
                            <span class="link-title fw-normal" onclick="navigateMe('/Products/Index')">Products</span>

                        </a>



                    </li>
                    <li class="nav-item main-item" >
                        <a class="nav-link">
                            <i class="link-icon" data-feather="users"></i>
                            <span class="link-title fw-normal" onclick="navigateMe('/Clients/Index')">Clients</span>

                        </a>



                    </li>
                    <li class="nav-item main-item" >
                        <a class="nav-link">
                            <i class="link-icon" data-feather="list"></i>
                            <span class="link-title fw-normal" onclick="navigateMe('/InstallmentPlans/Index')">Plans</span>

                        </a>
                    </li>
                <li class="nav-item main-item" id="productsNav">
                    <a class="nav-link" onclick="toggleProductsSubMenu();">
                        <i class="link-icon" data-feather="bar-chart"></i>
                        <span class="link-title fw-normal" >Reports</span>
                        <i class="link-arrow" data-feather="chevron-down"></i>
                    </a>
                    <div class="collapse" id="products">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a href="/Report/ProductSales" class="nav-link fw-normal" id="productsListNav">
                                    ProductSales
                                </a>
                            </li>
                        </ul>
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a href="/Report/ClientSales" class="nav-link fw-normal" id="productsListNav">
                                    ClientSales
                                </a>
                            </li>
                        </ul>
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a href="/Report/MonthlyReport" class="nav-link fw-normal" id="productsListNav">
                                    Monthly Report
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                   
                       
                }
        </ul>

    </div>
</nav>

    
