@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var httpContext = HttpContextAccessor.HttpContext;
}
@using Installment.Entities
@using Microsoft.AspNetCore.Http

<nav class="sidebar">
    <div class="sidebar-header">

        <a href="#" class="sidebar-brand" style="font-size:12px;font-weight:normal">
            <table>
                <tr>
                    <td>
                        <img src="~/assets/images/logo.png" width="50" height="50" />
                    </td>
                    <td>
                        <span style="color:black; font-weight:bold">
                            EASY PAY
                            NAVIGATOR
                        </span>
                    </td>
                </tr>
            </table>

        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            @if (httpContext.Session.GetString("UserRole") == "Admin")
                {
                    <li class="nav-item main-item" id="productsNav">
                        <a class="nav-link">
                            <i class="link-icon" data-feather="package"></i>
                            <span class="link-title fw-normal" onclick="navigateMe('/Companies/Index')">Companies</span>
                        </a>
                    </li>
                    <li class="nav-item main-item" id="productsNav">
                        <a class="nav-link">
                            <i class="link-icon" data-feather="package"></i>
                            <span class="link-title fw-normal" onclick="navigateMe('/Users/Index')">Users</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item main-item" id="dashboardNav">
                        <a href="/Home" class="nav-link " onclick="handleDashboardClick()">
                            <i class="link-icon" data-feather="box"></i>
                            <span class="link-title fw-normal">Dashboard</span>
                        </a>
                    </li>



                    <li class="nav-item main-item" id="productsNav">
                        <a class="nav-link">
                            <i class="link-icon" data-feather="shopping-cart"></i>
                            <span class="link-title fw-normal" onclick="navigateMe('/Products/Index')">Products</span>

                        </a>



                    </li>
                    <li class="nav-item main-item" id="productsNav">
                        <a class="nav-link">
                            <i class="link-icon" data-feather="users"></i>
                            <span class="link-title fw-normal" onclick="navigateMe('/Clients/Index')">Clients</span>

                        </a>



                    </li>
                    <li class="nav-item main-item" id="productsNav">
                        <a class="nav-link">
                            <i class="link-icon" data-feather="list"></i>
                            <span class="link-title fw-normal" onclick="navigateMe('/InstallmentPlans/Index')">Plans</span>

                        </a>
                    </li>
                    
                }

           



        </ul>

    </div>
</nav>
