<nav class="sidebar">
    <div class="sidebar-header">

        <a href="#" class="sidebar-brand" style="font-size:12px;font-weight:normal">
            <table>
                <tr>
                    <td>
                        <img src="~/assets/images/logo.png" width="50" height="50" />
                    </td>
                    <td>
                        <span style="color:black; font-weight:bold">
                            Installment
                        </span>   
                    </td>
                </tr>
            </table>

        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            @*<li class="nav-item nav-category">Main</li>*@
            <li class="nav-item main-item" id="dashboardNav">
                <a href="/Index" class="nav-link " onclick="handleDashboardClick()">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="link-title fw-normal">Dashboard</span>
                </a>
            </li>
            
            

            <li class="nav-item main-item" id="productsNav">
                <a class="nav-link" >
                    <i class="link-icon" data-feather="package"></i>
                    <span class="link-title fw-normal" onclick="navigateMe('/Products/Index')">Products</span>
                    
                </a>
                


            </li>
            <li class="nav-item main-item" id="productsNav">
                <a class="nav-link" >
                    <i class="link-icon" data-feather="package"></i>
                    <span class="link-title fw-normal" onclick="navigateMe('/Clients/Index')">Clients</span>
                    
                </a>
               


            </li>
            <li class="nav-item main-item" id="productsNav">
                <a class="nav-link" >
                    <i class="link-icon" data-feather="package"></i>
                    <span class="link-title fw-normal" onclick="navigateMe('/InstallmentPlans/Index')">Plans</span>
                    
                </a>
            </li>
            <li class="nav-item main-item" id="productsNav">
                <a class="nav-link">
                    <i class="link-icon" data-feather="package"></i>
                    <span class="link-title fw-normal" onclick="navigateMe('/Companies/Index')">Companies</span>

                </a>
            </li>

            <li class="nav-item main-item" id="settingsNav">
                <a class="nav-link" data-bs-toggle="collapse" href="/Chat" role="button" aria-expanded="false" aria-controls="emails">
                    <i class="link-icon" data-feather="mail"></i>
                    <span class="link-title fw-normal">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
