@page
@model Installment.Pages.InstallmentPlans.EditModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="plan.ProductName">Product Name</label>
        <select class="form-control" asp-for="plan.ProductName" asp-items="@Model.ProductList">
            <option value=“”>Select a Product </option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="plan.ClientName">Select a Client</label>
        <select class="form-control" asp-for="plan.ClientName" asp-items="@Model.ClientItems">
            <option value=“”>Select a Client </option>
        </select>
       
    </div>

    <div class="form-group">
        <label asp-for="plan.TotalPrice">Total Price</label>
        <input type="number" class="form-control" asp-for="@Model.plan.TotalPrice"/>
    </div>

    <div class="form-group">
        <label asp-for="plan.SalePrice">Sale Price</label>
        <input type="number" class="form-control"  asp-for="plan.SalePrice">
    </div>
    <div class="form-group">
        <label asp-for="plan.AdvancePayment">Advance Payment</label>
        <input type="number" class="form-control"  asp-for="plan.AdvancePayment">
    </div>

    <div class=“form-group”>
        <label asp-for="plan.CompanyName">Select a Company</label>
        <select class="form-control" asp-for="plan.CompanyName" asp-items="@Model.CompanyItems">
            <option value=“”>Select a Company </option>
        </select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>