@page
@model Installment.Pages.Manage.Client.CreateModel
@{
}
<form method="POST" asp-page-handler="Create">

    <div class="form-group">
        <label asp-for="Client.Name">Name</label>
        <input asp-for="Client.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Client. Email">Email</label>
        <input asp-for="Client. Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Client.Phone">Phone</label>
        <input asp-for="Client.Phone" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>