@page
@model Installment.Pages.Manage.Client.EditModel
@{
}
<h2>Edit Client</h2>

<form method="post">
    <input type="hidden" asp-for="Client.ClientId" />
    <div class="form-group">
        <label for="Name">Product Name</label>
        <input type="text" class="form-control" id="Name" asp-for="Client.Name">
    </div>
    <div class="form-group">
        <label for="Price">Product Price</label>
        <input type="text" class="form-control" id="Price" asp-for="Client.Email">
    </div>
    <div class="form-group">
        <label for="Description">Product Description</label>
        <textarea class="form-control" id="Description" asp-for="Client.Phone"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-page="./ClientIndex" class="btn btn-secondary">Back to List</a>
</form>