@page
@model Installment.Pages.InstallmentPayments.AddModel
@{
}
<form method="post" asp-page-handler="OnPostAsync">
    <input type="hidden" asp-for="InstallmentPlanId" />
    <div class="form-group">
        <label for="RecentAmount">Amount</label>
        <input type="text" class="form-control" id="RecentAmount" name="payments.RecentAmount">
    </div>
    <div class="form-group">
        <label for="Date">Date</label>
        <input type="date" class="form-control" id="Date" name="payments.Date">
    </div>
    <div class="form-group">
        <label for="Status">Status</label>
        <input type="text" class="form-control" id="Status" name="payments.Status">
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Add Payment</button>
</form>