@page
@model Installment.Pages.InstallmentPayments.EditModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="payments.RecentAmount">Amount</label>
        <input type="text" class="form-control" id="RecentAmount" name="RecentAmount" asp-for="payments.RecentAmount">
    </div>
    <div class="form-group">
        <label asp-for="payments.Date">Date</label>
        <input type="datetime" class="form-control" id="Date" name="Date" asp-for="payments.Date">
    </div>
    <div class="form-group">
        <label asp-for ="payments.Status">Status</label>
        <input type="text" class="form-control" id="Status" name="Phone" asp-for="payments.Status">
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>