@page
@model Installment.Pages.IndexModel
<link rel="stylesheet" href="~/assets/css/style.css" />

<div class="container">
    <div class="centered-container">
        <img src="~/assets/images/Asset 2@33.33x-8.png" class="logo-container" />
        <br />
        
        <h2>Welcome To Easy Pay Navigator</h2>
        <br />
        
        <p class="lead">
            Step into the future of hassle-free payments with Easy Pay Navigator—the epitome of
            cutting-edge software 
            designed to elevate your payment experience. This revolutionary
            platform seamlessly transforms the intricate world of installment payments into a
            breeze for both businesses and consumers alike. Easy Pay Navigator empowers businesses
            to effortlessly establish and personalize flexible payment plans, perfectly attuned to
            the unique needs of their customers.
        </p>
    </div>
</div>



































       