@page "{id}"
@model Installment.Pages.Clients.EditModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="client.Name">Client Name</label>
        <input type="text" class="form-control"  asp-for="client.Name">
    </div>
    <div class="form-group">
        <label asp-for="client.Email">Client Email</label>
        <input type="text" class="form-control"  asp-for="client.Email">
    </div>
    <div class="form-group">
        <label asp-for="client.Phone">Client PhoneNo</label>
        <input type="number" class="form-control"  asp-for="client.Phone">
    </div>
    <div class=“form-group”>
        <label asp-for="client.CompanyName">Select a Company</label>
        <select class="form-control" asp-for="client.CompanyName" asp-items="@Model.CompanyItems">
            <option value=“”>Select a Company </option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>